body {
    background-color: white;
    font-family: Avenir;
}

table {
    margin: 10px;
    border-spacing: 0;
    /*border-collapse: separate;*/
}
thead tr {
    background: #cacaca;
    font-weight: bold;
}
td {
    margin: 0;
    padding: 3px 10px;
}